.syntax--css, .syntax--sass {
  &.syntax--source {
    .syntax--property-list.syntax--scss .syntax--punctuation {
      &.syntax--bracket.syntax--curly, &.syntax--terminator {
        color: @syntax-text-color;
      }
    }

    .syntax--property-name, .syntax--separator {
      color: @syntax-color-property;
    }

    .syntax--property-value {
      color: @syntax-color-value;
    }

    .syntax--operator {
      color: @syntax-color-operator;

      &.syntax--pattern {
        color: @syntax-color-declaration;
      }
    }

    .syntax--pseudo-class {
      color: @syntax-color-operator;
    }

    .syntax--pseudo-element {
      color: @syntax-color-assignment;
    }

    .syntax--keyword {
      font-style: normal;
    }
  }

  .syntax--attribute-selector {
    &.syntax--punctuation {
      color: @syntax-color-declaration;
    }

    & .syntax--operator {
      color: @syntax-color-declaration;
    }
  }

  .syntax--definition.syntax--begin + .syntax--attribute-name {
    color: @syntax-color-declaration;
  }

  &.syntax--attribute-name ~ .syntax--brace, &.syntax--property-value > .syntax--brace:first-child, &.syntax--attribute-name ~ .syntax--bracket.syntax--round {
    color: @syntax-color-constant;
  }

  .syntax--punctuation.syntax--definition.syntax--sass {
    color: @syntax-color-special;
  }
}
